# Python virtual environment folder
.venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Logs
*.log

# IDE/editor specific files
.vscode/
.idea/

# Serverless framework artifacts
.serverless/

# Node.js modules (if any)
node_modules/

# Environment variables
.env
.env.*

# OS files
.DS_Store
Thumbs.db
